body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* Headings */
.big-heading {
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}


.feature-heading {
    font-size: 1.5rem;
    font-weight: 900;
}

/* == Title image */

.phone-mockup {
    transform: rotate(25deg);
    position: absolute;
    right: 24%;

}

/* ## Title image */

/* == Navigation BAR */
#logo {
    font-weight: 700;
    font-size: 2.5rem;
}

.navbar {
    padding-bottom: 4.5rem;
    padding-top: 0;
} 

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

/* ## Navigation BAR */

.container-fluid {
    padding: 7% 15%;
}

#title .container-fluid {
    padding-top: 3%;
    text-align: left;
}

/* == Sections */
.colored-section {
    background-color: #ff4C68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}
/* ## Sections */

/*  == Download Buttons */

.dwn-btn {
    margin: 5% 3% 5% 0;
}

/* ## Download Buttons */

/* == Features Section */

#features {
    position: relative;
}

.ftrs-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.ftrs-icon:hover {
    color: #ff4C68;
}

#features p {
    font-family: 'Montserrat', sans-serif;
    color: #8F8F8f;
}

.feature-box {
    padding: 6.5%;
}

/* ## Features Section */

/* == Testimonials Section*/
.testimonial-text {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

#testimonials {
    background-color: #ef8172;
}



.testi-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
/* ## Testimonials Section*/

/* == pricing section */

#pricing {
    padding: 150px;
    
}

.price-text {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-col {
    padding: 3% 2%;
}

/* ## pricing section */

/* == Media queries */
@media (max-width: 1400px) {
    #title .container-fluid {
        text-align: center;
    }
    .phone-mockup {
        position: static;
        transform: rotate(0);
    }

    .testimonial-text {
        font-size: 1.5rem;
    }
}

/* ## Media queries */


/* == Footer section */
#footer {
    
    font-size: 1.5rem;
    
    line-height: 2;
}

#footer i{
    margin: 20px 10px;
}

#footer p {
    color: #8F8F8f;
}
/* ## Footer section */